/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/style.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

html,
body{
	min-width: 1122px;
	min-height: 1750px;
	margin: 0;
	padding: 0;
}

body{
background: url("../img/bg.png") no-repeat 50% 3px;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

.container{
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-header{
	margin-bottom: 60px;
}

.main-navigation{
	float: left;
	width: 780px;
}

.user-block{
	float: right;
	width: 140px;
}

.index-logo{
	width: 368px;
	height: 204px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
}

.features{
	margin-bottom: 80px;
	color:white;
}

.features-item{
float: left;
width: 300px;
margin-right: 20px;
}

.features-item:last-child{
	margin-right: 0;
}

.index-content{
	margin-bottom: 35px;
	padding: 50px 80px;
	background-color: white;
}

.index-content-left{
    float: left;
    width: 380px;
}

.index-content-right{
    float: right;
    width: 300px;
}

.main-footer{
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
    color:white;

    .footer-contacts{
      float: left;
      width: 320px;
      margin-right: 60px;
    }

    .footer-social{
    	float: left;
    	width: 180px;
    }

    .footer-copyright{
    	float: right;
    	width: 180px;
    }
}