/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/style.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

html,
body{
	


}

body{
font-weight: 700;
font-size: 14px;
line-height: 24px;
font-family: "PT Sans Narrow", "Arial", sans-serif;	
text-transform: uppercase;
min-width: 960px;
background: #000 url("../img/bg.png") no-repeat center top;
color: #fff;
}
/*Стиль для внутренней страницы прайса*/
.inner-page{
	color: #000;

	background: #f8f3f0 url("../img/bg-inner/png") repeat;

	.main-header{
		margin-bottom: 55px;
	}
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

.container{
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-header{
	margin-bottom: 60px;
	color: #fff;
	background-color: #000;
	
	a{
		color: #fff;
		text-decoration: none;
	}

}

.main-navigation{
	float: left;
	width: 780px;

	ul{
		font-size: 0;
	}

	li{
     display: inline-block;
     font-size: 16px;
     line-height: 20px;
     vertical-align: top;
     }

     a{
     	display: block;
     	padding: 25px 20px;
     	text-decoration: none;
     }

     a:hover{
     	background: #242424;
     }
/*Логотип во внутренних страницах*/     
     .logo-inner{
     	float: left;
     	width: 111px;
     	height: 20px;
     	padding-top: 22px;

     	img{
     		width: 111px;
     		height: 24px;
     	}
     }

     .logo-inner:hover{
          background: none;
     	}

     .active{
     	position: relative;
  
     	background-color: none;

     	span{
     		display: block;
     		padding: 25px 20px;
     	}
     }
     .active a:hover {
        background: none; 
     }

     .active::after{
     	content: "";
     	position: absolute;
     	right: 20px;
     	bottom: 0;
     	left: 20px;

     	height: 5px;

     	background-color: #FFF;
     }

}

.user-block{
	float: right;
	max-width: 140px;

	.login{
		position: relative;
		display:inline-block;
		padding: 25px 20px;
		padding-left: 50px;

		font-size: 16px;
		line-height: 20px;
		color: #fff;
		vertical-align: top;
		text-decoration: none;

	}

	.login:hover{
		background: #242424;
	}

	.login::before{
		content: "";
		position: absolute;
		top:28px;
		left: 20px;

		width: 18px;
		height: 18px;

		background: url("../img/sprite.png") no-repeat;
		background-position:  -15px -15px;
		opacity: 0.3;


		
	}

	.login:hover::before{
         opacity: 1;
	}
}

.index-logo{
	width: 368px;
	height: 204px;
    margin: 0 auto;
	margin-bottom: 25px;

	img{
		width: 368px;
        height: 204px;
	}
}

.features{
	margin-bottom: 80px;
	color:white;
}

.features-item{
float: left;
width: 300px;
margin-right: 20px;

text-align: center;
   p{
     margin: 10px;
     margin-bottom: 0;
   }
}

.features-item:last-child{
	margin-right: 0;
}

.features-name{
    position:relative;

	display: block;
	margin-bottom:30px;
	padding-bottom: 35px;

	font-size: 30px;
	line-height: 42px;
}

.features-name::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;

	display: block;
	width: 20px;
	height: 20px;
	margin-left: -10px;

	background-color: #fff;
	transform: rotate(45deg);
}

.index-content{
	margin-bottom: 35px;
	padding: 50px 80px;
	
	color: #000;

	background:
	url(../img/shadow.png) no-repeat center,
	#f8f5f2 url("../img/bgw.png");

	.index-content-title{
		margin: 0;
		margin-bottom: 25px;
		font-size: 30px;
		line-height: 42px;
	}

	p{
		margin: 0;
		margin-bottom: 25px;
	}
}

.news-preview{
	margin: 0;
	padding: 0;
	padding-right: 35px;

	list-style: none;

	li{
		margin-bottom: 25px;
	}

	p{
		margin: 0;
	}

	time{
		text-transform: none;
		font-weight: 400;
	}
}

.btn{
	display: inline-block;
	margin-right: 16px;
	padding: 10px 33px;

	font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    vertical-align: top;
    text-align: center;	
    text-transform: uppercase;  
    text-decoration: none;  
	color: #fff;

	background-color: #000;
	border: 0;
	outline: 0;
	cursor: pointer;
}

.btn:hover,
.btn:active{
    background-color: #663d15;
}

.btn.disabled,
.btn:disabled{
	cursor: default;
	opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover{
	background-color:#000;
}

.gallery{
	position: relative;

	height: 260px;

	.gallery-content{
		height: 164px;
		margin: 0;

		background-color: #ccc;
		border: 7px solid #fff;

		img{
         width: 286px;
         height: 164px;
		}
	}

	.btn{
		position: absolute;
		bottom: 0;

		width: 140px;
		margin: 0;
	}
    .gallery-prev{
    	left: 0;
    }
	.gallery-next{
		right: 0;
	}
}

.appointment-form{
	input{
	float: left;
	width: 106px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 7px 15px;

	font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #000;
    text-transform: uppercase;

	background-color: #f9f6f3;
	border: 2px solid #000;
	outline: none;
         }

    input:nth-child(2n){
    	margin-right: 0;
    }

    input:focus{
    	border: 2px solid #663d15;
    }

    .btn{
    	clear: both;
    	width: 100%;
    }
}

.index-content-left{
    float: left;
    width: 380px;
}

.index-content-right{
    float: right;
    width: 300px;
}

.main-footer{
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
    
    color: #fff;

    background:  #252525 url(../img/bg-footer.jpg);

    .footer-contacts{
      float: left;
      width: 320px;
      margin-right: 60px;

      a{
      	color: #fff;
      }

      a:hover{
      	text-decoration: none;
      }

    }

    .footer-social{
    	float: left;
    	width: 180px;
        
        text-align: center;
    	p{
    		margin: 0;
    		margin-bottom: 15px;
    	}

    	.social-btn{
    		display: inline-block;
    		width: 43px;
    		height: 43px;

    		margin: 0 2px;

    		font-size: 0;
    		text-decoration: none;

    		background: #000 url("../img/sprite.png") no-repeat center;

    	}


        .social-btn-vk{
    	background-position: -7px -150px;
    	}

    	.social-btn-fb{
    	background-position: 1px -101px;
    	}

    	.social-btn-inst{
    	background-position: -4px -50px;
    	}
    }
         .footer-copyright{
         float: right;
    	 max-width: 180px;
    	 p{
    	 	margin: 0;
    	 	margin-bottom: 15px;

    	 	text-align: center;
    	 }
    	  .btn{
    	 	margin-right: 0;
    	 }
    }
}
/*Стили внутренних страниц*/
.inner-page-title{
	margin-bottom: 55px;

	h1{
		margin: 0;
		margin-bottom: 20px;
		padding: 0;

		font-size: 30px;
		line-height: 42px;
	}

	.breadcrumbs{
		margin: 0;
		padding: 0;

		list-style: none;

		li{
			position: relative;

			display: inline;
			padding-right: 40px;
		}

		a{
			color: #000;
			text-decoration: none;
		}

		a:hover{
			text-decoration: underline;
		}

		.current{
			color: #aba9a7;
		}
		.current::after{
			display: none;
		}
	}

	li::after{
       content:"";
       position: absolute;
       top: 5px;
       right: 16px;

       width: 8px;
       height: 8px;

       background-color: #000;
       transform: rotate(45deg);
	}
}